.nav {
    position: top;
    width: 1440 px;
    height: 80px;
    background-color: almost-white rgba(248, 248, 248, 1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: blue-2 rgba(37, 64, 233, 1);
}

.nav, .WORK-tab{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    position: absolute;
    top: 18px;
    left: 673px;
}
