.desktop-homepage {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    }
    .desktop-homepage .div {
    background-color: var(--almost-white);
    overflow: hidden;
    width: 1440px;
    height: 2774px;
    position: relative;
    }
    .desktop-homepage .footer {
    display: flex;
    width: 1440px;
    height: 66px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 68px;
    position: absolute;
    top: 2708px;
    left: 0;
    background-color: #2540E9;
    }
    .desktop-homepage .footer-left {
    position: relative;
    width: 302px;
    height: 18px;
    }
    .desktop-homepage .sophiefunck {
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
    font-family: 'JetBrains mono';
    font-weight: var(--p2-font-weight);
    color: var(--white);
    font-size: var(--p2-font-size);
    letter-spacing: var(--p2-letter-spacing);
    line-height: var(--p2-line-height);
    font-style: var(--p2-font-style);
    }
    .desktop-homepage .div-2 {
    display: inline-flex;
    align-items: center;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
    }
    .desktop-homepage .div-3 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    }
    .desktop-homepage .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--portfolio-thumbnails-14-18-AA-font-family);
    font-weight: var(--portfolio-thumbnails-14-18-AA-font-weight);
    color: var(--white);
    font-size: var(--portfolio-thumbnails-14-18-AA-font-size);
    letter-spacing: var(--portfolio-thumbnails-14-18-AA-letter-spacing);
    line-height: var(--portfolio-thumbnails-14-18-AA-line-height);
    white-space: nowrap;
    font-style: var(--portfolio-thumbnails-14-18-AA-font-style);
    }
    .desktop-homepage .icons-arrow {
    position: relative;
    width: 16.97px;
    height: 16.97px;
    }
    .desktop-homepage .divider {
    position: relative;
    width: 1px;
    height: 24px;
    background-color: var(--white);
    opacity: 0.16;
    }
    .desktop-homepage .up {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid;
    border-color: var(--white);
    }
    .desktop-homepage .img {
    position: absolute;
    width: 8px;
    height: 17px;
    top: 3px;
    left: 7px;
    }
    .desktop-homepage .section {
    top: 2146px;
    left: 158px;
    position: absolute;
    width: 1120px;
    height: 473px;
    }
    .desktop-homepage .p {
    position: absolute;
    width: 414px;
    top: -1px;
    left: 5px;
    font-family: 'JetBrains mono';
    font-weight: var(--h3-font-weight);
    color: black;
    font-size: var(--h3-font-size);
    letter-spacing: var(--h3-letter-spacing);
    line-height: var(--h3-line-height);
    white-space: nowrap;
    font-style: var(--h3-font-style);
    }
    .desktop-homepage .text-wrapper-2 {
    position: absolute;
    top: 42px;
    left: 5px;
    font-family: 'Inter' sans-serif;
    font-weight: var(--h4-font-weight);
    color: var(--almost-black);
    font-size: var(--h4-font-size);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    white-space: nowrap;
    font-style: var(--h4-font-style);
    }
    .desktop-homepage .text-wrapper-3 {
    position: absolute;
    width: 364px;
    top: 111px;
    left: 8px;
    font-family: 'Inter' sans-serif;
    font-weight: 400;
    color: black;
    font-size: 18px;
    letter-spacing: -0.3%;
    line-height: 171.5%;
    font-style: var(--p-font-style);
    }
    .desktop-homepage .seperator {
    position: absolute;
    width: 1115px;
    height: 2px;
    top: 472px;
    left: 8px;
    }
    .desktop-homepage .file-link-light {
    display: flex;
    width: 189px;
    height: 52px;
    align-items: center;
    justify-content: center;
    gap: 6.99px;
    padding: 20px 40px;
    position: absolute;
    top: 311px;
    left: 5px;
    background-color: var(--almost-white);
    border-radius: 100px;
    border: 1.4px solid;
    border-color: var(--blue-2);
    }
    .desktop-homepage .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -4.9px;
    margin-bottom: -2.1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--blue-2);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19.2px;
    white-space: nowrap;
    }
    .desktop-homepage .ic-baseline-arrow {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: -6px;
    margin-bottom: -6px;
    }
    .desktop-homepage .content {
    position: absolute;
    width: 640px;
    height: 365px;
    top: 0;
    left: 485px;
    background-color: var(--blue-2);
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    }
    .desktop-homepage .mac-book {
    position: relative;
    width: 506px;
    height: 301px;
    top: 32px;
    left: 67px;
    }
    .desktop-homepage .devices-macbook-pro {
    height: 301px;
    }
    .desktop-homepage .overlap {
    position: relative;
    width: 506px;
    height: 301px;
    }
    .desktop-homepage .shadow {
    position: absolute;
    width: 470px;
    height: 10px;
    top: 291px;
    left: 18px;
    }
    .desktop-homepage .screen {
    position: absolute;
    width: 410px;
    height: 291px;
    top: 0;
    left: 48px;
    }
    .desktop-homepage .overlap-group {
    position: relative;
    height: 291px;
    }
    .desktop-homepage .computer {
    position: absolute;
    width: 410px;
    height: 291px;
    top: 0;
    left: 0;
    }
    .desktop-homepage .overlap-group-2 {
    position: relative;
    width: 412px;
    height: 292px;
    left: -1px;
    background-image: url(./img/outside-casing.svg);
    background-size: 100% 100%;
    }
    .desktop-homepage .rubber-edging {
    position: absolute;
    width: 408px;
    height: 289px;
    top: 1px;
    left: 2px;
    }
    .desktop-homepage .screen-black-border {
    position: absolute;
    width: 406px;
    height: 286px;
    top: 2px;
    left: 3px;
    }
    .desktop-homepage .rectangle {
    position: absolute;
    width: 406px;
    height: 8px;
    top: 275px;
    left: 3px;
    background-color: var(--screen-components);
    }
    .desktop-homepage .camera {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 9px;
    left: 203px;
    }
    .desktop-homepage .screen-2 {
    position: absolute;
    width: 389px;
    height: 251px;
    top: 17px;
    left: 59px;
    }
    .desktop-homepage .bottom-casing-silver {
    position: absolute;
    width: 506px;
    height: 15px;
    top: 283px;
    left: 0;
    }
    .desktop-homepage .overlap-2 {
    position: absolute;
    width: 506px;
    height: 8px;
    top: 0;
    left: 0;
    background-image: url(./images/hero.png);
    background-size: 100% 100%;
    }
    .desktop-homepage .rectangle-2 {
    position: absolute;
    width: 72px;
    height: 6px;
    top: 0;
    left: 217px;
    }
    .desktop-homepage .union {
    position: absolute;
    width: 506px;
    height: 7px;
    top: 8px;
    left: 0;
    }
    .desktop-homepage .section-2 {
    top: 1584px;
    left: 162px;
    position: absolute;
    width: 1120px;
    height: 473px;
    }
    .desktop-homepage .text-wrapper-5 {
    position: absolute;
    width: 388px;
    top: -1px;
    left: 0;
    font-family: 'JetBrains Mono';
    font-weight: medium;
    color: black;
    font-size: 22px;
    letter-spacing: -0.3%;
    line-height: 121.5%;
    white-space: nowrap;
    font-style: medium;
    }
    .desktop-homepage .text-wrapper-6 {
    position: absolute;
    top: 50px;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 20px;
    letter-spacing: -0.3%;
    line-height: 121.5%;
    white-space: nowrap;
    font-style: italic;
    }
    .desktop-homepage .text-wrapper-7 {
    position: absolute;
    width: 354px;
    top: 100px;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 380;
    color: black;
    font-size: 18px;
    letter-spacing: -0.3%;
    line-height: 171.5%;
    font-style: normal;
    }
    .desktop-homepage .file-link-light-2 {
    border-color: var(--orange-2);
    display: flex;
    width: 189px;
    height: 52px;
    align-items: center;
    justify-content: center;
    gap: 6.99px;
    padding: 20px 40px;
    position: absolute;
    top: 313px;
    left: 0;
    background-color: var(--almost-white);
    border-radius: 100px;
    border: 1.4px solid;
    }
    .desktop-homepage .text-wrapper-8 {
    color: var(--orange-2);
    position: relative;
    width: fit-content;
    margin-top: -4.9px;
    margin-bottom: -2.1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19.2px;
    white-space: nowrap;
    }
    .desktop-homepage .group-wrapper {
    position: absolute;
    width: 640px;
    height: 365px;
    top: 0;
    left: 480px;
    background-color: var(--orange-2);
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    }
    .desktop-homepage .group {
    position: absolute;
    width: 582px;
    height: 216px;
    top: 74px;
    left: 29px;
    }
    .desktop-homepage .section-3 {
    top: 1022px;
    left: 163px;
    position: absolute;
    width: 1120px;
    height: 473px;
    }
    .desktop-homepage .file-link-light-3 {
    border-color: var(--pink-2);
    display: flex;
    width: 189px;
    height: 52px;
    align-items: center;
    justify-content: center;
    gap: 6.99px;
    padding: 20px 40px;
    position: absolute;
    top: 313px;
    left: 0;
    background-color: var(--almost-white);
    border-radius: 100px;
    border: 1.4px solid;
    }
    .desktop-homepage .text-wrapper-9 {
    color: var(--pink-2);
    position: relative;
    width: fit-content;
    margin-top: -4.9px;
    margin-bottom: -2.1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19.2px;
    white-space: nowrap;
    }
    .desktop-homepage .mac-book-wrapper {
    position: absolute;
    width: 640px;
    height: 365px;
    top: 0;
    left: 480px;
    background-color: var(--pink-2);
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    }
    .desktop-homepage .devices-macbook-pro-wrapper {
    position: relative;
    width: 520px;
    height: 309px;
    top: 27px;
    left: 60px;
    }
    .desktop-homepage .overlap-wrapper {
    height: 309px;
    overflow: hidden;
    }
    .desktop-homepage .overlap-3 {
    position: relative;
    width: 520px;
    height: 309px;
    }
    .desktop-homepage .shadow-2 {
    position: absolute;
    width: 483px;
    height: 10px;
    top: 300px;
    left: 19px;
    }
    .desktop-homepage .overlap-group-wrapper {
    position: absolute;
    width: 421px;
    height: 299px;
    top: 0;
    left: 49px;
    }
    .desktop-homepage .overlap-4 {
    position: relative;
    height: 299px;
    }
    .desktop-homepage .div-wrapper {
    position: absolute;
    width: 421px;
    height: 299px;
    top: 0;
    left: 0;
    }
    .desktop-homepage .overlap-group-3 {
    position: relative;
    width: 423px;
    height: 300px;
    left: -1px;
    background-image: url(./img/outside-casing-2.svg);
    background-size: 100% 100%;
    }
    .desktop-homepage .rubber-edging-2 {
    position: absolute;
    width: 419px;
    height: 297px;
    top: 1px;
    left: 2px;
    }
    .desktop-homepage .screen-black-border-2 {
    position: absolute;
    width: 417px;
    height: 294px;
    top: 2px;
    left: 3px;
    }
    .desktop-homepage .rectangle-3 {
    position: absolute;
    width: 417px;
    height: 8px;
    top: 282px;
    left: 3px;
    background-color: var(--screen-components);
    }
    .desktop-homepage .camera-2 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 9px;
    left: 209px;
    }
    .desktop-homepage .screen-3 {
    position: absolute;
    width: 400px;
    height: 258px;
    top: 18px;
    left: 60px;
    }
    .desktop-homepage .bottom-casing-silver-2 {
    position: absolute;
    width: 520px;
    height: 16px;
    top: 290px;
    left: 0;
    }
    .desktop-homepage .overlap-5 {
    position: absolute;
    width: 520px;
    height: 8px;
    top: 0;
    left: 0;
    background-image: url(./img/group.png);
    background-size: 100% 100%;
    }
    .desktop-homepage .rectangle-4 {
    position: absolute;
    width: 74px;
    height: 6px;
    top: 0;
    left: 223px;
    }
    .desktop-homepage .union-2 {
    position: absolute;
    width: 520px;
    height: 7px;
    top: 8px;
    left: 0;
    }
    .desktop-homepage .section-header {
    position: absolute;
    width: 790px;
    top: 850px;
    left: 166px;
    font-family: 'JetBrains Mono';
    font-weight: absolute;
    color: #2540E9;
    font-size: 50px;
    letter-spacing: var(--h1-letter-spacing);
    line-height: absolute ;
    white-space: nowrap;
    font-style: normal;
    }
    .desktop-homepage .divider-line {
    position: absolute;
    width: 1284px;
    height: 1px;
    top: 785px;
    left: 78px;
    object-fit: cover;
    }
    .desktop-homepage .slogan {
    position: absolute;
    width: 1069px;
    top: 634px;
    left: 186px;
    font-family: 'JetBrains Mono';
    font-weight: medium;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: -0.2%;
    line-height: 202%;
    font-style: medium;
    }
    .desktop-homepage .overlap-6 {
    position: absolute;
    width: 1442px;
    height: 550px;
    top: -1px;
    left: -1px;
    }
    .desktop-homepage .hero {
    position: absolute;
    width: 1440px;
    height: 469px;
    top: 81px;
    left: 1px;
    background-image: url(./img/hero.png);
    background-size: cover;
    background-position: 50% 50%;
    }
    .desktop-homepage .HEADER {
    position: absolute;
    width: 1442px;
    height: 82px;
    top: 0;
    left: 0;
    background-color: var(--almost-white);
    border-top-style: none;
    border-right-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: var(--blue-2);
    }
    .desktop-homepage .WORK-TAB {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    position: absolute;
    top: 18px;
    left: 673px;
    }
    .desktop-homepage .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--main-black);
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 24px;
    white-space: nowrap;
    }
    .desktop-homepage .BLOG-TAB {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    position: absolute;
    top: 18px;
    left: 1115px;
    }
    .desktop-homepage .ART-TAB {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    position: absolute;
    top: 18px;
    left: 984px;
    }
    .desktop-homepage .ABOUT-TAB {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    position: absolute;
    top: 18px;
    left: 824px;
    }
    .desktop-homepage .logo {
    position: absolute;
    width: 51px;
    height: 67px;
    top: 7px;
    left: 67px;
    }
    .desktop-homepage .CONTACT-TAB {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    position: absolute;
    top: 18px;
    left: 1259px;
    }